*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
body {
  overflow: hidden;
  margin: 0;
  font-size: min(30vw, 30vh);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  line-height: 100vh;
  transform: rotate(90deg);
  background: #5e6;
  color: #000;
}
